
button{
    margin: 10px 10px;
}
h1{
    text-align: center;
}
form{
    padding-top:45%;
}
.status_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    width: 30%;
}
